@font-face {
  font-family: bradley;
  src: url('../../assets/bradley.ttf');
}

body {
  background: #fff;
  font-family: sans-serif;
  font-weight: 100;
  margin: 0px;
}

#main h1 {
  padding: 20px;
  border-bottom: 1px dashed #aaa;
  color: rgba(0,0,0,0.6);
  font-weight: 100;
  font-family: sans-serif;
}

#main {
  text-align: center;
}

.welcome-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #F89A00;
}

.top-container {
  height: 25vh;
}

.logo {
  font-family: bradley;
  font-size: 35px;
  font-weight: bold;
  margin: 0px;
}

.welcome {
  font-size: 24px;
  margin: 0px;
}

.nav-container {
  width: 90%;
  padding: 30px;
}

.line-break {
  border: solid .5px #000;
  width: 96%;
  margin: 0 auto;
}

button {
  margin: 0 15px;
  cursor: pointer;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  background-image: url("https://image.freepik.com/free-photo/food-organic-vegetable-colorful-background-tasty-fresh-carrots-on-wooden-table-top-view-with-copy-space-healthy-life-concept_1220-1217.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  font-size: 20px;
  padding-left: 5px;
  width: 250px;
  border: none;
  height: 30px;
  opacity: 0.6;
  border-radius: 2px;
  outline: none;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: red;
  height: 200px;
  width: 350px;
  border-radius: 5px;
}

.email-input,
.password-input {
  width: 200px;
  font-size: 20px;
  margin-bottom: 20px;
}

.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nav-links {
  text-decoration: none;
  font-weight: bold;
  color: #F89A00;
  font-size: 20px;
  transition-duration: .2s;
  margin-right: 20px;
}

.nav-links:hover {
  font-size: 22px;
  transition-duration: .2s;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.recipe-title {
border: 1px dotted blue;
margin-bottom: 12px;
font-size: 18px;
border: none;
width: 500px;
background: #fff;
outline: none;
}

.dish-pic {
  border-radius: 5px;
}

.instructions {
  width: 90%;
  margin: 20px 0 20px 25px;
  /*margin-left: 25px*/
}

.info {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

.name {
  font-weight: bold;
  font-size: 32px;
  color: #3f3c3a;
}

.mins {
  color: #369ec4;
}

.sentence {
  padding: 5px 10px;
  text-align: left;
}

.direction-section {
  display: flex;
  flex-direction: column;
}

.top-section {
  display: flex;
  flex-direction: column;
}

.print-btn,
.save-btn {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  outline: none;
}

.print-btn {
  background-color: #f89a00;
}

.save-btn {
  background-color: #369ec4;
}
