* {
  box-sizing: border-box;
}

@font-face {
  font-family: bradley;
  src: url('../../assets/bradley.ttf');
}

body {
  background: #fff;
  font-family: sans-serif;
  font-weight: 100;
  margin: 0px;
}

#main h1 {
  padding: 20px;
  border-bottom: 1px dashed #aaa;
  color: rgba(0,0,0,0.6);
  font-weight: 100;
  font-family: sans-serif;
}

#main {
  text-align: center;
}

.welcome-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #F89A00;
}

.top-container {
  height: 25vh;
}

.logo {
  font-family: bradley;
  font-size: 35px;
  font-weight: bold;
  margin: 0px;
}

.welcome {
  font-size: 24px;
  margin: 0px;
}

.nav-container {
  padding: 30px;
}

.line-break {
  border: solid .5px #000;
  width: 96%;
  margin: 0 auto;
}

button {
  margin: 0 15px;
  cursor: pointer;
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  background-image: url("https://image.freepik.com/free-photo/food-organic-vegetable-colorful-background-tasty-fresh-carrots-on-wooden-table-top-view-with-copy-space-healthy-life-concept_1220-1217.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  font-size: 20px;
  padding-left: 5px;
  width: 250px;
  border: none;
  height: 30px;
  opacity: 0.6;
  border-radius: 2px;
  outline: none;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: red;
  height: 200px;
  width: 350px;
  border-radius: 5px;
}

.email-input,
.password-input {
  width: 200px;
  font-size: 20px;
  margin-bottom: 20px;
}

.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nav-links {
  text-decoration: none;
  font-weight: bold;
  color: #F89A00;
  font-size: 20px;
  transition-duration: .2s;
  margin-right: 20px;
}

.nav-links:hover {
  border-bottom: 2px solid #F89A00;
}

.recipe-list,
.fridge-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.fridge-results-container {
  margin-top: 30px;
}

.fridge-name {
  margin-bottom: 20px;
}

.prompt {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.recipe-title,
.fridge-results {
margin-bottom: 12px;
font-size: 18px;
border: none;
width: 500px;
background: #fff;
color: #369ec4;
outline: none;
transition-duration: .2s;
}

.recipe-title:hover,
.fridge-results:hover {
  color: #65aa05;
  font-weight: bold;
  transition-duration: .2s;
}

.dish-pic {
  border-radius: 5px;
}

.instructions {
  width: 63%;
  margin: 20px auto;
}

.info {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

.ingredient-info {
  margin: 20px 0;
  font-weight: bold;
  font-size: 20px;
}

.ingredient-amount {
  padding-bottom: 5px;
}

.name,
.fridge-name {
  font-weight: bold;
  font-size: 32px;
  color: #3f3c3a;
}

.mins {
  color: #369ec4;
}

.sentence {
  margin: 10px;
  text-align: left;
}

.direction-section {
  display: flex;
  flex-direction: column;
}

.top-section {
  display: flex;
  flex-direction: column;
}

.print-btn,
.save-btn {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  outline: none;
}

.delete-button {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  outline: none;
  background-color: #ea2304;
}

.print-btn {
  background-color: #f89a00;
}

.save-btn {
  background-color: #369ec4;
}

.amount {
  text-align: left;
  margin: 0 auto;
  width: 63%;
}

.about-section {
  background: #ea8857;
  width: 100%;
  height: 100vh;
  padding-top: 90px;
}

.about-blurb {
  font-size: 30px;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  background: #fff;
  opacity: .7;
  border-radius: 5px;
}

.delete-btn {
  float: right;
  background-color: #ea2304;
  color: #fff;
  font-weight: bold;
  border: none;
  outline: none;
}

.ingredient-container {
  margin: 20px auto;
  width: 25%;
  text-align: left;
}

.ingredient {
  margin: 5px;
}

.inputIngredients {
  height: 30px;
  width: 140px;
  font-size: 13px;
  outline: none;
}

.add {
  background-color: #0b8e1c;
  color: #fff;
  width: 45px;
  height: 29px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
}

.submit {
  background-color: #369ec4;
  color: #fff;
  height: 30px;
  border: none;
  font-size: 14px;
  border-radius: 2px;
  width: 100px;
}

.loading {
  font-family: 'Homemade Apple', cursive;
  font-size: 30px;
}
